[2019-09-04 23:39] shcheklein opened #1 "add Markdown pre-commit with prettier"

[2019-09-05 18:08] shcheklein opened #2 "decide on and implement deployment stack"
1. Heroku vs Netlify

Netlify - check why is it blocked in Russia (other countries?)

Heroku, Netlify - check if Heroku integrates well with CMS systems like Contentful and if we need them at all

3. Implement deployment pipeline

2. Ivan - make a subdomain - blog.dvc.org

[2019-09-06 02:08] shcheklein commented on #2
@iAdramelk https://www.netlifycms.org/ - it looks like it's a separate open source CMS. can it be deployed to heroku? it might be a good solution then. Contentful seems like too complicated/heavy, but I haven't tried it yet.

[2019-11-28 01:34] shcheklein commented on #2
Closing this - implemented and deployed via Netlify on blog.dvc.org. At least for now.

[2019-11-28 01:34] #2 closed

[2019-12-18 00:38] shcheklein opened #10 "add CI integration and run format checker, linter, etc"

[2019-12-18 00:40] shcheklein opened #11 "add prettier file"
Add prettier configuration, close to the one in dvc.org

Otherwise it looks like global config files could override the behavior, also it would be great to unify the code style across dvc.org and blog.

[2019-12-18 01:38] shcheklein opened #12 "problems with displaying titles"
text is hidden behind title

<img width="320" alt="Screen Shot 2019-12-17 at 5 36 16 PM" src="https://user-images.githubusercontent.com/3659196/71048331-ed623700-20f3-11ea-975b-73fd909f158b.png">

long title is cut:

<img width="357" alt="Screen Shot 2019-12-17 at 5 36 22 PM" src="https://user-images.githubusercontent.com/3659196/71048349-f5ba7200-20f3-11ea-9c6c-904e382d9731.png">

[2019-12-18 05:43] shcheklein opened #13 "images do not scale properly"
https://github.com/iterative/blog/pull/9/files#diff-fea3583130d538767cfdbfee3b122a7dR7

take a look at the rendered image in the PR, it's too lage

[2019-12-18 05:44] shcheklein commented on #13
<img width="454" alt="Screen Shot 2019-12-17 at 9 44 24 PM" src="https://user-images.githubusercontent.com/3659196/71058969-6bcfd080-2116-11ea-9401-d8bf2e356a30.png">

[2019-12-18 06:11] shcheklein opened #14 "create markup/fix style for the horizontal text block splitter"
Medium:

<img width="757" alt="Screen Shot 2019-12-17 at 10 10 04 PM" src="https://user-images.githubusercontent.com/3659196/71060362-21e8e980-211a-11ea-8b55-49291c89bd3c.png">

us:

<img width="833" alt="Screen Shot 2019-12-17 at 10 11 18 PM" src="https://user-images.githubusercontent.com/3659196/71060388-2dd4ab80-211a-11ea-8e3b-88b16388dfa3.png">

[2019-12-18 17:13] antiflasher commented on #12
Let's display Title as is but hide the Description with a gradient layer:
<img width="420" alt="Screenshot 2019-12-18 at 10 18 57" src="https://user-images.githubusercontent.com/5543839/71107744-c0d11c80-21d2-11ea-8059-fc3a005833a1.png">

[2019-12-18 17:15] antiflasher commented on #13
I suggest to crop the Cover image with 4×3 ratio on CSS level. But the blog editor should pick images of horizontal orientation as all the design relies on it.

[2019-12-18 17:59] shcheklein commented on #12
@antiflasher what if title takes 3-4 lines? what is the limit here and how should we handle this.

I like the idea with gradient, btw. Not sure though it solves the problem.

[2019-12-20 02:49] shcheklein opened #15 "create forum links for posts we migrated"

[2019-12-20 02:52] shcheklein opened #16 "create a custom markup for inline blocks"
We need to write an HTML snippet to embed a link.

Can we utilize mdx or create a custom MD markup to do this?

[2019-12-20 16:06] #12 closed

[2019-12-20 16:06] #13 closed

[2019-12-21 02:26] iAdramelk opened #22 "fix images sizes on title page"
Right now images for posts are very large: 300-1000kb. It is too large for thumbnails this size. To prevent it from happening we need to update `gatsby-image` config for these blocks.

[2019-12-21 03:08] shcheklein opened #23 "create redirects from medium"
`https://blog.dataversioncontrol.com/(.*)-([a-zA-Z0-9])*` -> `https://blog.dvc.org/$1`

https://blog.dataversioncontrol.com/november-19-dvc-%EF%B8%8Fheartbeat-110404842192
https://blog.dataversioncontrol.com/october-19-dvc-%EF%B8%8Fheartbeat-4f494fda4626
https://blog.dataversioncontrol.com/july-19-dvc-%EF%B8%8Fheartbeat-b178bf8454e7
https://blog.dataversioncontrol.com/june-19-dvc-%EF%B8%8Fheartbea

[2019-12-21 04:25] shcheklein opened #24 "kill admin panel"
It encourages bad practices - e.g. uploading assets into a single directory, writing bad markdown w/o running pre-commit hooks, etc.

It does not solve the problem - it's not WYSIWYG, it confuses users.

It complicates the deployment process - need GitHub auth, etc.

It's not that hard to run yarn develop and user any editor to write text.

[2019-12-21 04:26] shcheklein opened #25 "strange URL kills 404 page"
https://blog.dvc.org/november-19-dvc-%EF%B8%8Fheartbeat

returns empty screen for me, should be 404 Not Found page

[2019-12-21 04:27] shcheklein opened #26 "optimize and sort images by posts"

[2019-12-21 04:29] shcheklein opened #27 "create pre-commit (and CI to check?) to optimize assets"
Committing megabyte pictures is not sustainable, we should be optimizing them via pre-commit hook.

[2019-12-22 20:32] #26 closed

[2019-12-23 09:30] iAdramelk commented on #16
Depending on the syntax that we want, there is multiple ways to achieve it:

1. Use [remark-custom-blocks](https://github.com/zestedesavoir/zmarkdown/tree/master/packages/remark-custom-blocks) to add simple syntax blocks.
2. Use pseudo-html tags with [react-rehype](https://using-remark.gatsbyjs.org/custom-components/)
3. Use actual MDX.

Can you write examples of the snippets that we need to creat

[2019-12-23 09:30] iAdramelk commented on #16
Or we can just transform markdown AST in any way we want.

[2019-12-23 21:36] shcheklein commented on #16
Yep, you can check it here (or almost in any other blog post):

https://github.com/iterative/blog/edit/master/content/blog/2019-12-14-november-19-dvc-heartbeat.md

[code]

[2019-12-23 21:37] shcheklein commented on #16
@iAdramelk considering your three options, could you convert that example above into different representations so that we can pick the simplest one?

[2019-12-24 14:50] #22 closed

[2019-12-25 08:18] iAdramelk commented on #16
We have four fields in the snippet above:

- *href*: "https://www.deploymachinelearning.com/"
- *title*: "Deploy Machine Learning Models with Django"
- *description*: "Version 1.0 (04/11/2019) Piotr Płoński The demand for Machine Learning (ML) applications is growing. Many resources..."
- *picture*: "/uploads/images/2019-12-14/deploy-machine-learning-models.png"

This number of fields excludes cus

[2019-12-25 21:42] shcheklein commented on #16
@iAdramelk all three look reasonable to me. The first one probably is the easiest one?

[2019-12-26 05:56] iAdramelk commented on #16
Yes, the thirst one is probably the easiest. To add `mdx` we would need to replace our markdown rendering plugin for `gatsby` (which is easy), but the `mdx` plugin didn't have out of the box plugins for the things like syntax highlighting, auto-resizing images in markdown articles, gist embedding, etc. so we will need to re-add them manually.

[2019-12-27 01:26] SvetaGr commented on #15
https://blog.dvc.org/blog/november-19-dvc-heartbeat/ - https://discuss.dvc.org/t/november-19-dvc-heartbeat/284

https://blog.dvc.org/blog/october-19-dvc-heartbeat/ - https://discuss.dvc.org/t/october-19-dvc-heartbeat/285

https://blog.dvc.org/blog/dvc-org-for-hacktoberfest-2019/ - https://discuss.dvc.org/t/dvc-org-for-hacktoberfest-2019/286

https://blog.dvc.org/blog/september-19-dvc-heartbeat/ -

[2019-12-30 07:33] shcheklein commented on #15
@SvetaGr blog links are not valid anymore .. they go w/o `/blog/` part now. We should fix the forum posts. But before we do that we should review description, images, etc for the blog posts after we migrated them.

E.g. https://blog.dvc.org/dvc-org-for-hacktoberfest-2019/ - has the Heartbeat's description. Also, all heartbeats have the same text - can we do something better?

[2019-12-30 07:36] shcheklein opened #35 "remote blog return button"
Why do we need it at all?

<img width="154" alt="Screen Shot 2019-12-29 at 11 34 49 PM" src="https://user-images.githubusercontent.com/3659196/71572455-155a7e80-2a94-11ea-8405-bb48f9633139.png">

[2019-12-30 07:43] shcheklein opened #36 "fix fonts: align them with the main page"
<img width="239" alt="Screen Shot 2019-12-29 at 11 42 26 PM" src="https://user-images.githubusercontent.com/3659196/71572662-0c1de180-2a95-11ea-98d2-1110adf79ef2.png">

vs

<img width="228" alt="Screen Shot 2019-12-29 at 11 42 34 PM" src="https://user-images.githubusercontent.com/3659196/71572665-10e29580-2a95-11ea-8cec-c89a3c089ce5.png">

[2019-12-30 07:47] shcheklein opened #37 "normalize URLs - remove the trailing /"
We should generate all links w/o the trailing `/`.

Trailing slash URLs should redirect to the normalized version w/o it:

`https://blog.dvc.org/july-19-dvc-heartbeat/` ---301-->  `https://blog.dvc.org/july-19-dvc-heartbeat`

*Relevant discussion on this:*

https://github.com/gatsbyjs/gatsby/issues/9207

[2019-12-30 07:48] shcheklein opened #38 "subscribe to the email list consider using captcha, add GA event"
We are getting bots subscribed to the list. Not clear where do they come from yet - but we need to add additional safeguards + add GA properly to see if subscriptions come from blog (and how many).

[2019-12-30 19:09] shcheklein commented on #35
Fixed by https://github.com/iterative/blog/commit/9e8b5514c95af8e80036787b9e32ab538d613638

[2019-12-30 19:09] #35 closed

[2019-12-30 22:45] shcheklein commented on #11
Closed by https://github.com/iterative/blog/commit/2f87895a5fb2bae7311efb6eb80cc9101f28f0b2

[2019-12-30 22:45] #11 closed

[2019-12-31 01:24] shcheklein opened #39 "support basic markup in meta fields"
For example, we need to put links into `pictureComment` or support newlines/paragraph splits in `descriptionLong`.

[2020-01-01 00:58] shcheklein commented on #36
should be fixed by https://github.com/iterative/blog/commit/d3bf211e940fc80cb7998194c86fa0fe940c33e7

[2020-01-01 00:58] #36 closed

[2020-01-01 02:08] shcheklein commented on #37
Updated the description.

[2020-01-01 23:19] shcheklein opened #40 "properly size post images"
Effective image size should 1/2 to make it sharp on retina screens. I suggest we always (?) make size 1/2 before we cut it into a certain box. No matter what.

[2020-01-02 01:13] Rajjix commented on #14
Hey there,
I think this should do the trick, must note that it's preferable to add a className to the hr elements you want to show as three dots and replace the hr tag with that className, so it doesn't break things on other pages.

hr::before {

    content: "...";
    position: absolute;
    left: 50%;
    font-size: 28px;
    font-style: italic;
    line-height: 1.4;
    letter-spacing: 0.6em;

[2020-01-02 05:28] shcheklein opened #41 "if inline code block is a link highlight it somehow"
E.g. underline with black?

[2020-01-02 18:36] shcheklein opened #43 "cut thumbnail images in the feed page properly"
Come with a better design. It's not ok that we cut them asymmetrically.

<img width="364" alt="Screen Shot 2020-01-02 at 10 35 28 AM" src="https://user-images.githubusercontent.com/3659196/71684912-ae66ef00-2d4b-11ea-9d38-60aaaf7b6903.png">

[2020-01-02 23:22] shcheklein opened #44 "determine priority and proper rendering of a hierarchy of styles"
E.g.

# Renders `code` with title styles

vs we do not do this:

<img width="814" alt="Screen Shot 2020-01-02 at 3 20 30 PM" src="https://user-images.githubusercontent.com/3659196/71699239-75427500-2d73-11ea-9f4d-7551525eca1d.png">

**Other examples:**

[2020-01-02 23:26] shcheklein commented on #39
Example of links in the title image: https://blog.dataversioncontrol.com/june-19-dvc-%EF%B8%8Fheartbeat-505900be9aac

[2020-01-02 23:26] shcheklein commented on #39
Example of newlines in the "description long" - https://blog.dataversioncontrol.com/june-19-dvc-%EF%B8%8Fheartbeat-505900be9aac

[2020-01-03 00:53] shcheklein commented on #15
Fixed by https://github.com/iterative/blog/commit/188eabae161b70bb5411d51e2fe1e00a56eeb801

[2020-01-03 00:53] #15 closed

[2020-01-03 01:04] shcheklein opened #45 "make author name clickable: show description and posts by the author"

[2020-01-03 01:05] shcheklein opened #46 "make tag names clickable: show description and posts in the tag"

[2020-01-03 01:06] shcheklein opened #47 "review meta tags, keywords, favicons, etc"

[2020-01-03 01:07] shcheklein opened #48 "generate sitemap to optimize search"

[2020-01-03 01:08] shcheklein opened #49 "SEO: review best practices, run analyzers, fix issues"

[2020-01-03 19:26] #14 closed

[2020-01-04 23:07] ksandr-dev commented on #44
Hello Ivan!, How are you today?
I have a lot experience in styling for typography in React.js. I saw you are using PostCSS. I can implement determine priority and proper rendering of a hierarchy of styles.

[2020-01-05 03:14] shcheklein commented on #44
@ksandr-dev thanks, that would be great, give it a shot!

[2020-01-05 03:17] sekmet commented on #16
Hello, I got this done.
Please check the updated DVC blog live here:
https://inspiring-brown-042ba4.netlify.com/

I’d love to hear from you guys!
Best regards
Carlos Guimaraes

[2020-01-05 03:43] ksandr-dev commented on #44
@shcheklein Thank you for assigning this feature to me. Are you able to discuss via skype or slack

[2020-01-05 03:46] shcheklein commented on #44
@ksandr-dev yes, find me on our Discord (dvc.org/chat) - ivan.

[2020-01-05 18:46] #43 closed

[2020-01-06 14:50] iAdramelk commented on #40
There is two types of images used in the blog right now: Header images, avatars and images inserted using markdown should work as described already. But images inserted by using html tags by hand and skipped by `gatsby` right now. I will try to make them work too.

[2020-01-06 15:17] #48 closed

[2020-01-07 12:44] iAdramelk commented on #39
@shcheklein It's technically possible, but we will have additional problems then. For example `descriptionLong` is used for the meta tags and you can't have tags there. And if we remove tags from there automatically it can came out awkward: Texts instead of links, multiple paragraphs that became one paragraph, etc. What is the best way to approach that?

[2020-01-07 15:26] sekmet commented on #39
@shcheklein I got fixed #25 and #39

[2020-01-07 15:36] shcheklein commented on #39
@iAdramelk can we strip markup when we need to put those into meta fields?

[2020-01-08 04:10] iAdramelk commented on #39
@shcheklein we can, but text can loose meaning if we replace link with text or concat paragraphs.

[2020-01-08 04:22] shcheklein commented on #39
@iAdramelk I think links to text and concatenation should work fine? why do you have concerns about this? any specific examples in your mind?

[2020-01-08 04:26] iAdramelk commented on #39
@shcheklein the are no technical problems, only content one.

For example if we write something like that in description:

And then replace it with:

And then place it in say feed or in the Facebook snippet it can look strange and meaningless.

[2020-01-08 05:52] shcheklein commented on #39
yep, agreed. But still does not look like a deal breaker to me. Newlines are fine. Link - hard to predict but should be more or less fine either (I doubt that we will have [this link] type of phrase in that block - it's too important). Links in image subtitles - probably fine as well.

[2020-01-08 07:05] abdullahtariq1171 opened #61 "card text issues"
### 1) text overlap
![text overlap](https://monosnap.com/image/jThEutHTShsywBhPcOkHpHaaOYr9fN)

### 2) text hidden
![ text hidden](https://monosnap.com/image/pP8DP6tqpuVXcszgUMCs0sEskLBZU3)

[2020-01-08 17:11] shcheklein commented on #61
@abdullahtariq1171 good catch! do you mind sharing what browser do you run it on? I was trying to reproduce and I can't so far.

[2020-01-08 18:04] abdullahtariq1171 commented on #61
@shcheklein
- Firefox 71.0
- Chrome 79.0.3945.88

[2020-01-08 18:39] shcheklein commented on #61
@abdullahtariq1171 but on the second screenshot text does not overlap for the same page, how is it possible?

[2020-01-08 19:00] abdullahtariq1171 commented on #61
@shcheklein nah both are different issues. I put both in one issue only because they are related to card.

Here is how we can reproduce https://monosnap.com/file/lCcyrGgj2EFil4pacIRUgNDTwgWkhK

[2020-01-08 19:10] shcheklein commented on #61
k, I see. It's not clear that width was the key to reproduce. Thanks!

[2020-01-09 01:39] #24 closed

[2020-01-09 17:51] fadilmamedov commented on #61
@shcheklein I will take care of this one

[2020-01-09 17:51] shcheklein commented on #61
@fadilmamedov thanks! 👍

[2020-01-09 18:30] fadilmamedov commented on #61
@shcheklein regarding the second part of the issue. I don't think that dividing the second row into two rows would look better. What about shrinking the padding of the description and meta sections in the card to 20px? Then it would look like:

<img width="723" alt="Screenshot 2020-01-09 at 21 28 17" src="https://user-images.githubusercontent.com/3175922/72094230-fb882980-3326-11ea-90df-deb75423b5

[2020-01-09 18:32] shcheklein commented on #61
@fadilmamedov works for me.

[2020-01-09 19:20] fadilmamedov commented on #39
@shcheklein please, assign this to me. Thanks!

[2020-01-15 19:22] shcheklein commented on #47
More information (right now previews do not work properly on Slack for example) - https://medium.com/slack-developer-blog/everything-you-ever-wanted-to-know-about-unfurling-but-were-afraid-to-ask-or-how-to-make-your-e64b4bb9254

[2020-01-15 19:23] shcheklein commented on #47
Also, warnings from this tool https://developers.facebook.com/tools/debug -
<img width="1024" alt="Screen Shot 2020-01-15 at 11 23 01 AM" src="https://user-images.githubusercontent.com/3659196/72464033-6c956a00-3789-11ea-9c33-f09cec6b52b5.png">

[2020-01-18 00:27] andronovhopf opened #70 "setting image size in markdown"
I'm not able to change the size of images using markdown. For example:

[code]
seems to throw an error and no image displays (only a little icon). To my knowledge, this is the markdown syntax for resizing images?

[2020-01-18 00:38] andronovhopf opened #71 "option for text wrapping"
It would be great to have an option to wrap text, as is that doesn't seem to be doable by manipulating the html <img> parameters.

![image](https://user-images.githubusercontent.com/29716724/72655123-d196be80-3947-11ea-92cd-fec1b38201be.png)

[2020-01-20 20:48] fadilmamedov commented on #70
@shcheklein can you please assign this to me?

[2020-01-22 00:26] andronovhopf opened #74 "embedding Twitter links"
Would be great to have an easier tweet embedding, like `{% twitter 834439977220112384 %}` in https://dev.to/p/editor_guide

[2020-01-22 23:43] shcheklein commented on #37
@iAdramelk seeing something like this on Twitter card and Facebook OG debugger:

<img width="703" alt="Screen Shot 2020-01-22 at 3 41 30 PM" src="https://user-images.githubusercontent.com/3659196/72944490-e3a0a480-3d2d-11ea-9554-27943d4cd633.png">

Reopening this for now to figure out.

[2020-01-23 04:35] shcheklein commented on #25
we handle this on the dataverisoncontrol redirect script, no need to fix this anymore

[2020-01-23 04:35] #25 closed

[2020-01-23 14:25] iAdramelk commented on #37
Looks like a redirect on Netlify side. Will check settings.

[2020-01-23 14:36] iAdramelk commented on #37
@shcheklein  Checked settings and redirects are disabled. Also then I try to enter https://blog.dvc.org/january-20-dvc-heartbeat , I'm not redirected. Can you try to enter url yourself and see if you are redirected?

[2020-01-24 00:17] shcheklein commented on #37
@iAdramelk that what I get in my browser:

<img width="1292" alt="Screen Shot 2020-01-23 at 4 16 45 PM" src="https://user-images.githubusercontent.com/3659196/73035078-cf2add80-3dfb-11ea-81b2-8c692d582fda.png">

and you can indeed see for a moment that it adds `/` at the end and then removes it. Not sure what is happening here.

[2020-01-24 19:07] frontexpert commented on #44
@shcheklein I have fixed small Markdown style issues on my local. I didn't commit yet. I am not sure if this is just what you wanted or not. I may misunderstand your requirement. So I want you to take a look at this screenshot.
![screen_19](https://user-images.githubusercontent.com/19707900/73096206-f6ada300-3eec-11ea-9413-7d957b3c018c.png)

Please let me know if this is correct or not. and then,

[2020-01-24 19:16] #74 closed

[2020-01-24 19:21] shcheklein commented on #44
@frontexpert we need to check medium and dev.to to see how do they handle different combinations - link within a title? code block within a title? link in a quote? code and link in a quote - etc.

Those examples you provided look correct! But let's check and think about other possibilities a little bit.

[2020-01-24 19:27] frontexpert commented on #44
OK, No problem. In fact, I just wanted to confirm if it is correct to have same font-style for Code and Title (In the case Title have a code part), or not.

[2020-01-24 21:19] andronovhopf opened #82 "syntax highlighting showing bugs"
DVC syntax highlighting in code blocks seems to have some errors-

<img width="761" alt="Screen Shot 2020-01-24 at 1 19 24 PM" src="https://user-images.githubusercontent.com/29716724/73104804-27211d00-3eac-11ea-92b5-b7d2138f226b.png">

[2020-01-24 22:25] shcheklein commented on #82
@fabiosantoscode could you take a look at this one?

in general we need to update the prism highlighter to be consistent (or better) with the one we have on dvc.org, also to support three level of command `dvc remote add`, etc. And keep JS for it clean and manageable.

[2020-01-27 16:06] fabiosantoscode commented on #82
Hey there! I did some digging, and I have a basic understanding of prism and how we're using it.

The reason `python` is being highlighted in the first code block is that it's on the command list. I might be able to fix that one by separating the command part from the argument part.

In the second block `file` is being highlighted for the same reason. I think we can get away with just removing `fi

[2020-01-27 17:16] shcheklein commented on #82
@fabiosantoscode yes, we can start by using different colors for DVC, Git commands and everything else. Also, please take a look at the way we highlight things on the dvc.org end. It's far from perfect as well, but can get you some ideas.

also, we should think about proper support for third level commands like `dvc remote add` but not `dvc remote python`.

[2020-01-27 17:43] fabiosantoscode commented on #82
Got some good news and bad news. I've added the separation of commands and keywords and whatnot. Subcommands work as well, and when there's a semicolon, a new command is allowed to start. I haven't figured out how to color git, dvc and regular old commands differently, but I'll look into that. The bad news, is that due to a prism limitation (it trims the left of the string when it finds a match) I

[2020-01-27 18:46] shcheklein commented on #16
Fixed by #65

[2020-01-27 18:46] #16 closed

[2020-01-27 21:44] #44 closed

[2020-01-28 00:50] shcheklein commented on #41
@frontexpert is it fixed also?

[2020-01-28 00:55] shcheklein opened #86 "do not store images in git"
Related #27 .

As an experiment we can do see what would it take to integrate DVC to store images, use GraphQL to fetch them.

After that we can amend Git repo to remove all image objects.

[2020-01-28 00:59] frontexpert commented on #41
Do you mean this case? (in the case that link include inline code block)
![Screenshot at Jan 28 02-57-03](https://user-images.githubusercontent.com/19707900/73226833-1b6a7a80-417a-11ea-9e74-51b4c36c50b9.png)

[2020-01-28 01:02] frontexpert commented on #41
If this is the case, I already applied link color - blue. just like above screenshot.
And if the link is active, all the link text(including code text) will change to Orange color.

[2020-01-28 01:04] shcheklein commented on #41
thanks, resolving this then! Fixed by #81

[2020-01-28 01:04] #41 closed

[2020-01-28 01:06] frontexpert commented on #41
Sounds good. I didn't know this issue-41 before. i thought this is included in the issue-44
Thanks.

[2020-01-28 01:07] shcheklein commented on #41
@frontexpert yep, the about styles =was more general and included this one.

[2020-01-28 11:17] frontexpert commented on #70
@shcheklein I looked to solution for issue but now the plugin that this project is using has not this option of resizing the image into markdown!

How we can see https://github.com/gatsbyjs/gatsby/blob/master/packages/gatsby-remark-images/src/__tests__/index.js

My proposal to a solution to this issue is:

- 1º Switch  `![](/image.ext)` to `<img src=''/image.ext' class='custom-class-dvc' width='20

[2020-01-28 14:54] fabiosantoscode commented on #86
@shcheklein where should we store the images? Should we use an S3 bucket with public access and serve them from there?

[2020-01-28 14:56] shcheklein commented on #86
@fabiosantoscode for the blog.dvc.org specifically? pick any remote storage to experiment with. Probably will be storing on S3 when it's done.

[2020-01-28 18:15] fabiosantoscode commented on #86
@shcheklein I've looked deeply into gatsby hooks, the source-filesystem plugin (which can generate files from thin air) and decided to simplify to the max and work up from there.

So I used `dvc import-url` to place an example image in a subdirectory of `static`. I can query it with GraphQL just fine. I place the DVC files in a single subdirectory "dvc-img".

Plus, you don't need to restart `gatsb

[2020-01-28 18:35] fabiosantoscode commented on #86
An interesting problem we have now, is third party contributions. If a regular user were to create a post they would have to give us the image off-band.

`<aside>`
Sending data over a PR could be a cool problem for iterative and DVC to solve. Storing images in some secure iterative-controlled content-addressible storage and PR a "data PR DVC file" which contains its sha512.

Once the PR is merged

[2020-01-29 00:22] shcheklein commented on #70
Don't like both options, tbh.

Can we write our own custom plugin for this? The same way we do for the "external-link" now, for example.

[2020-01-29 01:43] frontexpert commented on #70
OK, I will try to find out the way just like "external-link". Thanks.

[2020-01-29 13:31] fabiosantoscode commented on #86
@shcheklein `dvc add` is probably better, yes.

I can create this plugin. If the image DVC files are stored next to the images it's a lot easier (or if the DVC file represents the whole image subdirectory). I can detect changes in the DVC file(s) and run `dvc pull` automatically. This can detect branch changes and whatnot.

Automatic pull has a drawback though. If you change a DVC file after chang

[2020-01-29 19:37] shcheklein commented on #61
Agreed with @cosmn to take a holistic look at how card is structured.

[2020-01-30 00:54] shcheklein commented on #86
probably this should scale better, DVC is not very well suited for thousands and thousands of DVC-files - it might become a bottleneck. Also, dvc pull can do "granular" partial pulls for a file in the directory.

not sure why. You don't change DVC-file. It's being updated by running `dvc add` or `dvc run`.

this is fine, we can do `dvc gc` from time to time

it's a pretty regular thing that takes

[2020-01-30 10:30] frontexpert commented on #70
@shcheklein I did custom the gatsby-remark-images plugin.
Please take a look at my result.
![Screenshot at Jan 30 12-25-36](https://user-images.githubusercontent.com/19707900/73441541-d3a34900-435b-11ea-9f2e-aedf6792887e.png)

You can append `=WIDTHxHEIGHT` after Title Text to resize the image.
ex:
`![](./pic/pic100.png "Img Title =100x200")`
You can skip the HEIGHT
`![](./pic/pic100.png "Img Titl

[2020-01-30 16:42] fabiosantoscode commented on #86
The case where you lose your image changes is mostly when you change branches, which changes the DVC file. It shouldn't be a big deal.

Using DVC pipelines sounds like a good idea, but I think there are some gatsby plugins for compressing images which use the gatsby cache to keep things up to date. Either way I don't want to tackle this before the rest of the experience is solid.

Thanks for clear

[2020-01-30 18:13] shcheklein commented on #86
@fabiosantoscode it won't allow you to do `dvc checkout` if it means losing uncached files.

yep, the question is - can Netlify and/or Gatsby CI/CD setup in a way to use this cache easily?
in case of DVC cache is saved to S3 and even other developers/editors can get it and benefit potentially.

yep, that's right.

[2020-01-30 19:08] fabiosantoscode commented on #86
To fix this I think we should cache the `.cache` and `public` folders across builds. It's trivial in most CIs but it doesn't seem to be documented on netlify. They do seem to cache node_modules so we might just piggy-back on that and copy the cache to and from node_modules/.tmp before and after each build. That might just work. Some netlify forum discussions mention [this repository](https://githu

[2020-01-30 22:29] shcheklein opened #90 "fix avatars quality"
Looks like some images are too low res and/or something wrong with the gatsby pipeline here

[2020-01-30 22:35] cosmn commented on #61
@shcheklein Latest commits and PR should close this issue.
For a feed card refactoring, we should open a new issue, and a new branch to go with that. Either way, it wont have a significant visual impact, just the a new CSS approach.

[2020-01-30 22:37] shcheklein commented on #61
Fixed by #89

[2020-01-30 22:37] #61 closed

[2020-02-01 01:52] shcheklein commented on #90
closed by https://github.com/iterative/blog/pull/91 (@cosmn please add Fixes #90 to the next PR description to connect and close automatically).

[2020-02-01 01:52] #90 closed

[2020-02-03 17:14] frontexpert commented on #40
Hi @shcheklein.
I didn't understand. Do you want to reduce the size of the image in the 50% before of process of gatsby-image that it? can you explain more to me?

[2020-02-03 20:35] fabiosantoscode commented on #37
Can reproduce too, with firefox and curl -I both.

According to [this screenshot](https://community.netlify.com/t/trailing-slash-redirect-rule-not-working/3215/8) there seems to be an option in netlify called "pretty URLs" which can add trailing slashes. Is it enabled? CC @iAdramelk

[2020-02-03 20:44] fabiosantoscode commented on #40
@frontexpert I think Ivan is talking about high pixel density screens like retina, phone and 4k screens.

This is often achieved using a `<picture>` element or `srcset` image attribute with multiple sources, which can help choose the right source image for the right screen, depending on pixel density and display size.

The gatsby-remark-images plugin seems to do this out of the box. https://www.ga

[2020-02-03 21:13] shcheklein commented on #40
@fabiosantoscode yes, and the question is "if they are not large enough do not allow Gatsby to stretch them to the full width".

[2020-02-03 21:17] fabiosantoscode commented on #40
The set of plugins we have seem to be giving high-density images correctly to high-density screens, through a `<picture>` element. I'll create an image that's not up to par and check what happens.

[2020-02-03 21:37] fabiosantoscode commented on #40
@shcheklein I've resized an image way down to 264px and observed that the image doesn't get stretched all the way across, and instead sits at 264 *css* pixels wide. This is not retina pixels, so it's not sharp enough. However non-dense images would become tiny if shrunk to the 3x pixel density, so I don't think we should go down that road, and agree with this default behaviour.

To fix potentially

[2020-02-03 23:06] shcheklein commented on #40
@fabiosantoscode not sure I like it, I would force a smaller size (2x, 132 in your case) - just to make sure that it's always the same and it's not confusing to editors. Also, it might be an easy way out of #69 - just make original small enough.

[2020-02-03 23:48] cosmn commented on #37
@fabiosantoscode @iAdramelk It's not a Netlify issue, this behavior is also present in both the local production build / serve, and local development ( if you refresh the page, not hot reloading ).
It's related to the `express-static` as presented in this [gatsby issue](https://github.com/gatsbyjs/gatsby/issues/19543) whose [PR](https://github.com/gatsbyjs/gatsby/pull/19567) is not yet closed and

[2020-02-04 00:58] fabiosantoscode commented on #37
It's odd @cosmn, but I can't reproduce the behaviour at all locally (using `gatsby develop`), in either chrome or firefox. This is why I assumed it's a netlify issue. I tried reloading now and it didn't happen. And `curl -I` didn't show a redirect either.

Maybe we just wait for this PR to be closed?

[2020-02-04 01:16] cosmn commented on #37
@fabiosantoscode it's an odd one indeed, but its there. PR is abandoned from the looks of it

Local development             |  Local production
:-------------------------:|:-------------------------:
![image](https://user-images.githubusercontent.com/26232682/73704536-0e123a80-46fc-11ea-8072-0059977cc18d.png) | ![image](https://user-images.githubusercontent.com/26232682/73704648-65180f80-46fc-11ea

[2020-02-04 01:33] #82 closed

[2020-02-04 13:45] fabiosantoscode commented on #37
I've been able to repro this in local production.

I've tried simply using [serve](https://www.npmjs.com/package/serve) to serve the `public` directory after a build, and everything seems to work fine. No redirects at the trailing slash, but adding a `public/serve.json` file with `"trailingSlash": false` in it removes the trailing slash nicely with a 301. `serve.json` also allows you to customise

[2020-02-04 15:38] fabiosantoscode commented on #71
Is this issue about floating the image to the left or right and allowing the text on either side to flow around the image?

Maybe we should pair this with a way for writers to add a clearfix, denoting when it's time for the text to stop flowing by.

![Screenshot from 2020-02-04 15-37-17](https://user-images.githubusercontent.com/1611595/73759705-3d5c9200-4764-11ea-9046-e2d58415989b.png)

The clear

[2020-02-04 16:21] cosmn commented on #37
@fabiosantoscode I'm glad we're on the same page now.
Using [serve](https://www.npmjs.com/package/serve) or any other static serving implementation, either custom or already built, implies leaving the gatsby environment, which I would keep it as a last resort. I agree that we'll have full control of the static serving pipeline, but we may introduce side-effects difficult to anticipate at the momen

[2020-02-04 17:16] fabiosantoscode commented on #40
@shcheklein the existing solution already yields images with always the same proportion. They're just blurrier on higher density screens :smile:

I've done a ton of docs, issues and source code reading by now.

Perhaps the best option would be to augment #92 by adding some logic to query the image and defining its size right there. The advantage of that is that we won't have to worry about conflic

[2020-02-04 17:24] shcheklein commented on #40
@fabiosantoscode okay, it might be an option.

That's the point - I'm trying to understand if there a way to specify somehow to the regular gatsby plugin to limit max width so that they are never blurry?

[2020-02-04 17:48] fabiosantoscode commented on #37
This is pretty bad :(

It might be hard to get a PR accepted in serve-static, but actually writing a good PR shouldn't be so hard. The whole module is just 200 lines and [this function](https://github.com/expressjs/serve-static/blob/master/index.js#L182-L210), which is responsible for redirects, could be modified to take an extra parameter and return a handler which does the opposite thing. Add a

[2020-02-04 18:20] fabiosantoscode commented on #37
@cosmn Looks like sending a PR to serve-static is out of the question. Since it would effectively change how the file structure is perceived, they're not willing to accept it. I understand their point of view.

They did leave a suggestion to use `.html` and remove the extension using another option, which should work just fine, but I don't believe that is feasible for gatsby. It would be a massive

[2020-02-04 18:45] shcheklein commented on #71
yes!

Not sure about the solution. May be we can piggy back on the image title like @frontexpert did with image sizes?

[2020-02-04 19:35] fabiosantoscode commented on #71
@shcheklein works for me! I'll wait for his PR to be merged and hop onto this.

[2020-02-04 19:53] fabiosantoscode commented on #40
I looked for that and found nothing, neither in gatsby-remark-images, or in gatsby-plugin-sharp. Let's wait on #92 and try that option.

[2020-02-04 23:12] cosmn commented on #37
@fabiosantoscode You want too far with the issue on `serve-static` repo. The problem lies into gatsby's back yard, to which I just submitted a workable solution [on this PR](https://github.com/gatsbyjs/gatsby/pull/21203)

@shcheklein and @iAdramelk this is now on hold waiting for gatsby's contributors to reply.

[2020-02-05 00:39] shcheklein commented on #70
fixed by #92

[2020-02-05 00:39] #70 closed

[2020-02-05 10:50] fabiosantoscode commented on #37
I thought they might want to have it. serve can remove trailing slashes like what we need.

[2020-02-05 16:02] frontexpert commented on #40
I looked for that a lot of and I understood a bit!

ref https://github.com/gatsbyjs/gatsby/blob/7556cb6f3f52be27083b15c25153f8dfdcc98d98/packages/gatsby-plugin-sharp/src/index.js#L450

## In Medium, the images come original image size.
![image](https://user-images.githubusercontent.com/19707900/73853638-f5934480-480f-11ea-9f0b-f2ce1559d024.png)_It is size is controlled by CSS_

## In Gatsby,
in th

[2020-02-05 16:50] shcheklein commented on #40
@frontexpert so, what are the next steps here? did we understand it right that if image is small (let's say 300px) and max-width in Gatsby is set to 800px it will generate code to show 300px as is (not 150px to make it sharp on retina)?

[2020-02-05 17:44] frontexpert commented on #40
Next step!
To maintain the quality of sharpness in the retina you should use an image of at least 1400px so that Gatsby manages for all resolutions.

If he uses a smaller image he can blur on the retina screen!

There is no problem in the body of the post, as gatsby defines the max-width without any interference

The problem I found is in the hero of the post! where the application manipulates the

[2020-02-05 17:46] shcheklein commented on #40
@frontexpert so, what are the action items for this ticket?

[2020-02-05 17:58] frontexpert commented on #40
A solution to this problem would be to create a component to handle the hero image, and when the image is less than the maximum width we will keep the original width and add either a background color or the image itself with a blur to maintain the hero's standard!

Already in the image of the body of the markdown, we must not do anything for the time being to create a doc to inform the writers tha

[2020-02-05 17:58] frontexpert commented on #40
What do you think?

[2020-02-05 18:03] shcheklein commented on #40
so, the problem is with `we will keep the original width` - it makes them blurry anyway. We should do 1/2 width in both cases.

also, we already have a bunch of older posts that have blurry images, we should:

1. check that we can't get from medium better resolution (sometimes you can get it by playing with it's URL, changing width, etc)
2. for those we can't get better resolution - we should eith

[2020-02-05 18:11] frontexpert commented on #40
I'll look a little more for a solution to the problem of blurry

I will implement the new hero component! For you to see

[2020-02-07 16:43] fabiosantoscode commented on #10
This is with CircleCI right? I think if we create a configuration folder it should automatically apply. I'll get on this.

[2020-02-07 16:46] shcheklein commented on #10
yes! thanks, @fabiosantoscode

[2020-02-07 17:07] fabiosantoscode commented on #46
This sounds like something I can do. I'll get on this and reuse the template from the homepage, minus the top post being a "hero" unit.

[2020-02-07 17:31] fabiosantoscode opened #101 "Type and lint files as per `yarn lint-ts` and `yarn typecheck`"
Currently the files in this project are not correctly linted. The two commands in the title should exit 0.

Additionally, they need to be added to the `yarn ci-check` script.

Error output:

[code]

Maybe this lint is too strict. Sorting objects and imports might be a bit too overbearing.

[code]

[2020-02-07 17:33] shcheklein commented on #101
We don't run full check on CI. We check only files that are related to the PR. So, probably we should rename this to "run all and fix issues" ?

[2020-02-10 19:54] #71 closed

[2020-02-10 19:56] shcheklein commented on #101
let's do this as part of the CI PR

[2020-02-10 19:57] #101 closed

[2020-02-11 00:45] shcheklein commented on #10
Reopening for now, need to fix small issues most likely after actually running it.

Need to check if it runs for forks.

[2020-02-11 18:32] andronovhopf opened #104 "Sidebar in blog"
Would it be difficult to have a sidebar in the blog, like the grey text in this sample:

![Screen Shot 2020-02-11 at 10 31 05 AM](https://user-images.githubusercontent.com/29716724/74266790-bfdfd700-4cb9-11ea-8cc7-ef19b0ab8d9f.png)

[2020-02-11 20:39] fabiosantoscode commented on #10
Looks like the checks are not running @shcheklein (see #105). Was this repository added to CircleCI?

[2020-02-11 21:06] shcheklein commented on #10
Yes, it was. Please check this and let me know if we need to add you a collaborator or enable something else on the CircleCi - https://circleci.com/blog/managing-secrets-when-you-have-pull-requests-from-outside-contributors/

[2020-02-11 21:06] shcheklein commented on #10
and this https://circleci.com/blog/triggering-trusted-ci-jobs-on-untrusted-forks/

[2020-02-11 21:42] fabiosantoscode commented on #104
Not with only CSS. Notes which are very long will start intersecting with each other in different screen sizes.

![Screenshot from 2020-02-11 20-49-14](https://user-images.githubusercontent.com/1611595/74277809-16780000-4d10-11ea-9f34-e76b2eb46c03.png)

If we use some javascript, and a resize listener, we can use position:absolute to place notes at exactly the right places.

In terms of performanc

[2020-02-12 15:58] fabiosantoscode commented on #10
@shcheklein there seems to be a setting to enable building on forked repositories. However, if we need to use any secret keys in our circle tests, we need to add some extra steps. However, it looks like we don't.

It seems to be in Build Settings > Advanced Settings and the name of the option is "Build forked pull requests"

source: https://circleci.com/docs/2.0/oss/#build-pull-requests-from-forke

[2020-02-12 16:18] fabiosantoscode opened #106 "generate types from graphQL schema"
Hello!

There's a bunch of ways to generate typescript types from a graphQL schema.

I've found these two:

 - https://github.com/tgriesser/apollo-codegen/blob/master/README.md
 - https://www.npmjs.com/package/graphql-schema-typescript

I was wondering if we should use one of these, as any change in the graphQL schema would start being type-checked against our code, making sure that if for example

[2020-02-12 17:07] #40 closed

[2020-02-12 17:20] shcheklein commented on #10
Enabled, please, try again!

[2020-02-12 17:25] shcheklein commented on #106
@iAdramelk any opinion on this?

[2020-02-12 17:37] fabiosantoscode commented on #106
It might even be possible to generate types from the queries themselves. That would make sure we didn't forget a field or two and are accidentally passing undefined around.

[2020-02-12 18:37] fabiosantoscode commented on #10
@shcheklein works fine :) had to fix some issues with the config, but have a look at #105.

Sadly it doesn't seem to run in parallel with the netlify jobs, but that might've been a fluke.

[2020-02-12 18:42] shcheklein commented on #10
@

[2020-02-12 18:42] #10 closed

[2020-02-12 19:46] shcheklein opened #109 "speedup deployment"
It takes ~7 minutes to deploy to Netlify.

It should be done within seconds or better.

@fabiosantoscode @iAdramelk any thoughts?

[2020-02-12 19:47] shcheklein opened #110 "add pagination to all pages"
As we post more and more stuff we need to enable some pagination.

[2020-02-12 19:50] shcheklein opened #111 "show forum widget on a button click"
On a comment button show a widget on the page itself.

Show a simple text field behind button and open the widget when you click/activate it as well.

[2020-02-12 20:19] fabiosantoscode commented on #109
I think netlify build is not caching the `.gatsby` directory. We can do it by copying it to and from `/opt/build/cache` at every build, which is the quasi-documented folder where netlify stores all of its cache between builds.

Source: https://community.netlify.com/t/how-to-clear-cache-on-branch-deploy/5521

[2020-02-12 22:06] fabiosantoscode commented on #110
I'm on it.

[2020-02-12 22:11] #46 closed

[2020-02-13 12:45] iAdramelk commented on #106
@shcheklein @fabiosantoscode I have a little mixed feelings about it. On one hand having typed GraphQL is a plus and an important thing for the application stability.

On the other hand, automatically generated types from GraphQL schema is often quite messy, have hard to read names and not always easy to work with. We used `apollo-codegen` to autogenerate flow types for one of our projects year an

[2020-02-13 14:29] iAdramelk commented on #109
Yep, pretty sure it didn't cache it. We could try to use `/opt/build/cache/` and see how it goes.

[2020-02-13 16:18] fabiosantoscode commented on #38
I'm on this one

[2020-02-13 17:15] fabiosantoscode commented on #38
After a user clicks the subscribe button, they're taken to mailchimp's site. I tried to see if they had an invisible captcha there, but it seemed like they didn't. So I looked into how to enable one and found these instructions:

https://mailchimp.com/help/about-recaptcha-for-signup-forms/#Enable_reCAPTCHA

Regarding google analytics, I'm getting on that one now.

[2020-02-13 21:58] andronovhopf opened #114 "mathematical notation"
Would be great to have support for rendering latex like GitHub's markdown

GitHub markdown discussion about supporting the feature:
https://github.com/github/markup/issues/897#issuecomment-231591884

[2020-02-13 23:36] shcheklein commented on #38
can it be integrated with the way we embed the form? (we don't popup anything and design is custom)?

[2020-02-14 13:15] fabiosantoscode commented on #38
The captcha is on their site, when the user submits the form they're taken there and mailchimp can captcha them. So no integration on our own site. I hope. Their docs aren't terribly clear on this. If they don't captcha the user, we need to use our own API to validate their cache and subscribe them ourselves by doing a POST request, and disable clientside subscriptions.

[2020-02-14 15:06] fabiosantoscode commented on #106
I had a look at this and found that it would be very complicated to do that right now. There's a way to hook into tsc but you need to effectively create your own CLI and call their unstable API from within.

There's an issue about adding plugins to TSC. If that ever happens we can generate our types and they will be read by our editors' typescript plugins and the type checker.

https://github.com/

[2020-02-14 15:06] #106 closed

[2020-02-14 15:26] fabiosantoscode commented on #114
Mathjax should be a great solution here. It has a custom right-click menu so you can copy the formula in mathml or the original tex format.

But since we're using remark, we might as well use something like this: https://github.com/remarkjs/remark-math

[2020-02-14 15:27] fabiosantoscode commented on #109
Found this: [gatsby-plugin-netlify-cache](https://www.gatsbyjs.org/packages/gatsby-plugin-netlify-cache/)

Let me do a POC pull request to see how it affects build times.

[2020-02-14 16:17] fabiosantoscode commented on #109
The plugin didn't work. It looks like netlify is just not caching the files.

[2020-02-15 00:59] shcheklein commented on #114
@fabiosantoscode let's embed this into Gatsby pipeline?

[2020-02-15 02:13] shcheklein commented on #38
@fabiosantoscode yeah, would like to avoid any heavy solutions or a separate page that asks for a captcha. If there are other ways to prevent bots abusing the form let's use them - like some JS library that obfuscates the form a bit? If there are nothing like this - let's just fix an even and return to this if we have one more spike of subscriptions.

[2020-02-17 15:54] fabiosantoscode commented on #114
@shcheklein so you mean we should use remark-math? I think it's the smarter choice here too.

[2020-02-17 16:05] fabiosantoscode commented on #38
@shcheklein they already have a page, the captcha would be on there, so no more pages. Even if it was on our end, we could do it with zero new pages, given we can use an invisible captcha on the subscribe button.

Go ahead and subscribe yourself, with a throwaway e-mail like grr.la (only pokemail.net domain works) https://www.guerrillamail.com/. You get taken to a page on a mailchimp domain to con

[2020-02-17 16:16] fabiosantoscode opened #116 "analytics: improve Google Analytics integration"
Currently we only track page views through `gatsby-plugin-google-analytics`. We can track much more using their `<OutboundLink>` component and their `trackCustomEvent` function.

@shcheklein I'm not sure what you mean with next/previous page clicks, do you mean the clicks on the pagination buttons?

Just an aside to keep in mind: I found an issue in the plugin. If we want to receive a callback whe

[2020-02-17 17:47] #38 closed

[2020-02-17 17:49] shcheklein commented on #38
what are the benefits of using an invisible captcha?

yep, that's what I would like to avoid for now. Let's keep it simple and see if we get another spike of subscriptions.

[2020-02-17 17:52] shcheklein commented on #114
@fabiosantoscode I mean I didn't check it myself, so I don't have that much of an opinion :) but it looks reasonable approach to try from the description you provided. The last thing we want is to write our own plugin again for this.

[2020-02-17 18:57] fabiosantoscode commented on #38
You don't have to click an "I am not a robot" checkbox. If recaptcha suspects you're a robot, you'll see the usual popup. The only visible element it has, is either their logo floating on the bottom-right of the page (not a good option I think) or the following text which we need to add ourselves before the submit button:

We would need extra work for users not to be taken to the mailchimp page. I

[2020-02-17 19:14] fabiosantoscode opened #118 "lint: forbid lines which are too long"
All of our lints accept very long comments, which go way past 80 characters per line.

The purpose of this issue is to make one of the lints (tslint or prettier) complain and fail the build.

[2020-02-17 19:48] shcheklein commented on #38
yep, let's not deal with it for now

[2020-02-17 21:11] andronovhopf opened #119 "Italicized links with underscores breaks"
I have a link in a section of text that is italicized, e.g.:

`_blab blah blah blah  [Cats](https://www.rottentomatoes.com/m/cats_2019)?_`

This gets rendered as everything italicized up to the first underscore. I tried switching to using *blah blah blah...* notation, but it looks like this gets switched back to underscore notation somehow when I commit? Not sure if that's part of our linter or wh

[2020-02-17 23:28] shcheklein commented on #116
yes

not sure I understood the issue

[2020-02-18 14:05] fabiosantoscode commented on #116
It shouldn't be a real issue for now. It's just if we want to do `sendEvent(...).then(something)` or `await sendEvent(...)` we need to be wary that the plugin doesn't always tell us when the event is done sending. This is mostly OK, buf if we're sending events before a page change we need to either use the beacon API (like I did when recording subscribe events), or call `ga` ourselves (where if `g

[2020-02-18 14:12] fabiosantoscode commented on #118
By the way, `tslint` is now deprecated for plain old `eslint`. Maybe we can migrate as a part of this issue.

Another thing we need, is to check that every require is resolvable.

[2020-02-18 16:21] shcheklein commented on #118
@fabiosantoscode yep, good idea!

[2020-02-18 20:58] andronovhopf opened #121 "meta: no card in discord"
Looks like we need to specify image settings for discord

<img width="950" alt="Screen Shot 2020-02-18 at 12 58 05 PM" src="https://user-images.githubusercontent.com/29716724/74777420-4eba9980-524e-11ea-935c-7de278f4666c.png">

[2020-02-18 21:01] shcheklein commented on #121
@fabiosantoscode could you take a look what's missing here?

[2020-02-18 21:02] shcheklein commented on #121
Related #47

[2020-02-19 18:28] fabiosantoscode commented on #121
I looked at the discord and the preview image is there.

This is probably a per-user setting, found in user settings > text & images > link preview which might be disabled.

[2020-02-19 18:32] shcheklein commented on #121
It looks like for Discord it just takes time to process a new link. Not sure if we can optimize this process for it. I've seen this in other social networks. Again not sure if it's related to us or not (e.g. it might due to us doing redirects? social networks complain about this)

[2020-02-19 18:32] #110 closed

[2020-02-19 18:36] fabiosantoscode commented on #121
I see. It could be the redirects, but only if they actively discriminate against URLs with redirects.

[2020-02-19 18:43] shcheklein commented on #121
Yep, not 100% sure, but as you can see in the redirects ticket networks complain about this at least.

[2020-02-19 19:30] fabiosantoscode opened #123 "wasteful responsive image versions."
While investigating the image situation we have in our hands, I found a couple of inefficiencies when looking through the source code of [this post](https://blog.dvc.org/a-public-reddit-dataset). I went and verified that it works with JPG images as well.

 * We create a webp and png version for each image.

Support for webp is [very widespread](https://caniuse.com/#feat=webp), and if you're using

[2020-02-19 20:24] shcheklein commented on #123
the should consume some negligible percent of the whole space

sounds good if can easily optimize it this way

[2020-02-19 22:34] shcheklein opened #125 "on mobile reduce size of DVC code snippets"
Looks like we don't actually change the font size and they look huge.

[2020-02-20 00:02] #39 closed

[2020-02-20 06:29] shcheklein opened #127 "warning on development run"
I'm getting:

`Warning: Each child in a list should have a unique "key" prop.`

when run `yarn develop`

[2020-02-20 07:12] shcheklein opened #128 "changes in post's metadata break hot reload and dev mode"
try `content/blog/2019-08-01-july-19-dvc-heartbeat.md` file edits to the `pictureComment` can easily get rebuild into infinite cycle `running queries`.

no information why is it happening, no errors - super annoying and is breaking editors workflow.

@iAdramelk  do you know if there is an easy way to avoid this in this future, easy way to run some tests for this? (this is not the first time it hap

[2020-02-20 15:43] iAdramelk commented on #128
Never seen this bug before. Need to experiment to understand why it happened. Looks super weird.

[2020-02-20 15:44] shcheklein commented on #128
@iAdramelk we had something similar before already, right? had to get to the previous version of Gatsby or some other libraries as far as I remember.

[2020-02-20 15:45] iAdramelk commented on #128
@shcheklein we had a problem then images were recreated multiple times on each save. Not sure if this is the same thing or not.

[2020-02-20 15:46] shcheklein commented on #128
it might be happening when there are some errors in the processing pipeline (for example Markdown has bugs).

[2020-02-20 15:48] iAdramelk commented on #128
@shcheklein BTW, did this bug appears after we added MD support for the `pictureComment` or this is an old one?

[2020-02-20 15:54] shcheklein commented on #128
@iAdramelk it's hard for me to answer this since I don't run it for a some long periods of time. It might be related to that change indeed.

[2020-02-21 00:32] shcheklein commented on #23
Closed by a few recent commits.

[2020-02-21 00:32] #23 closed

[2020-02-21 00:41] shcheklein commented on #37
Another issue with this is that Google according to its webmaster considers now URLs with slash at the end as original ones and w/o a slash as duplicates. Considering that our sitemap includes URLs w/o slash we potentially hit some SEO penalties.

[2020-02-21 15:36] fabiosantoscode commented on #119
It's an upstream issue: https://github.com/remarkjs/remark/issues/470

We can work around it if we don't use pedantic mode. I'm not sure of what the impact of this would be, so I'd say let's see if a fix comes along or I/we can push one.

[2020-02-21 18:05] #119 closed

[2020-02-21 18:06] #128 closed

[2020-02-21 18:31] fabiosantoscode commented on #127
I can't reproduce this one! I tried chrome and firefox, in the latest master.

[2020-02-21 18:41] fabiosantoscode commented on #125
![Screenshot_20200221-183708923](https://user-images.githubusercontent.com/1611595/75061817-69ed0980-54d9-11ea-83f9-f4ddebbd60f1.jpg)

It looks fine on my phone (both Chrome and Firefox) Do they look larger than this on yours?

I had a look in the chrome devtools and the font size for DVC code is 14.8px, while text is 20px.

[2020-02-21 21:18] cosmn commented on #127
@fabiosantoscode its in the terminal when you execute `yarn develop`. Somewhere in a react component there's a loop without a `key` property

[2020-02-21 22:21] shcheklein commented on #125
That's what I see on my iPhone:

![IMG_4F3BDF07FBBC-1](https://user-images.githubusercontent.com/3659196/75076581-72cbe400-54b5-11ea-912e-387f78f6b177.jpeg)

note the difference in size of the upper block and the bottom one.

[2020-02-21 22:23] shcheklein commented on #127
Yep, thanks @cosmn !

That's what I'm getting on the latest master, `yarn develop`:

[code]

[2020-02-21 22:23] shcheklein commented on #127
Two warnings.

[2020-02-23 03:02] shcheklein commented on #49
Also check this and improve across blog and main dvc.org https://support.google.com/analytics/answer/1034342?hl=en

[2020-02-24 18:59] fabiosantoscode opened #133 "Invalid nesting of `<section>` within `<p>` tag"
`<external-link>` tags result in a `section` being placed within a `p`. Other elements that can't be included in a `p`, but are placed in the external-link, are `h4` and `div`.

Because of the `h4` and the `section` (`aside` and others are also not permitted in `p`) we don't really have an option in turning the contents into something that's feasible to place inside of a `p`, so this needs AST man

[2020-02-24 19:31] #127 closed

[2020-02-26 00:57] shcheklein commented on #109
Some plugins that could speedup things a little bit:

## Tutorial: Make image-heavy Gatsby builds 2x faster on Netlify

[code]

[2020-02-26 19:44] #125 closed

[2020-02-28 18:36] fabiosantoscode opened #136 "images: choose a way to resize images"
As we know, generating thumbnails and different scales of images, takes a while.

We've already discussed images in [this issue, starting in this comment](https://github.com/iterative/dvc.org/issues/992#issuecomment-589733329), but I would like to outline our choices so we can make an informed decision together.

| Choice | Pros | Cons |
|-----------|--------|------------|
| Cloudflare image resiz

[2020-02-28 18:40] fabiosantoscode commented on #136
Requesting comments: @jorgeorpinel @shcheklein @iAdramelk looking forward to the discussion.

[2020-02-29 02:43] shcheklein commented on #37
Closed by #135 . Thanks @fabiosantoscode !

[2020-02-29 02:43] #37 closed

[2020-02-29 02:45] shcheklein commented on #121
looks like also solved by #135

[2020-02-29 02:45] #121 closed

[2020-03-01 01:00] shcheklein commented on #136
@fabiosantoscode the last option - I suppose Cloudflare will be doing caching?

[2020-03-02 13:31] fabiosantoscode commented on #136
@shcheklein indeed, as long as the images have a cache-control header we'll be fine.

[2020-03-02 14:20] iAdramelk commented on #136
@fabiosantoscode As I write is another issue, I still prefer to reduce express usage on our side in hopes that Express is a temporary solution. So I'd say that we shouldn't go with the route 3 if possible.

It will also add us a lot of complexity with async image resizing and possible slowdowns because of them. I observed how `imgproxy` were created from the side and there were a lot of edge cases

[2020-03-02 15:45] fabiosantoscode commented on #136
@iAdramelk I agree that the express way can be problematic here.

The cache on heroku is configured well enough to create fast builds for master, and fast consecutive builds of PR environments. However, the main reason this came up again is that each PR seems to have its own cache on heroku's side (probably for security reasons). So, the first preview environment takes a while to build.

[2020-03-02 16:34] fabiosantoscode commented on #136
After having spent some time creating a null-image plugin for remark (so that we can improve it and let it use our resized images, however they may be resized) I found that gatsby-plugin-sharp is still going to want to resize a lot of images due to our templates.

So to create resized images in our non-markdown space we'd need to provide a GraphQL interface to this plugin (which whitelists sizes t

[2020-03-02 18:22] shcheklein commented on #136
@fabiosantoscode our own caching sounds good (S3 or whatnot), but how long will it take us to hit the Heroku limits in terms of the disk size we can use? Are there Heroku plugins  - like shared SSD storage or something?

[2020-03-03 15:50] fabiosantoscode commented on #136
@shcheklein The docs were really vague on this point, so I've made a simple experiment to answer your question.

# TL;DR

 - We have ~200mb more to play with right now
 - We have ~10mb before we reach the *soft limit*
 - We can store a large amount of data on-disk during the build if we don't end up deploying it to heroku in the end (so, maybe, deploy somewhere else?)

-------

I've added a `cat /

[2020-03-03 21:58] shcheklein commented on #136
We should probably just put (and sync on build time) all static to S3 and just proxy requests. Any downsides to this approach?

[2020-03-03 22:03] shcheklein commented on #136
I'm not sure though how do we build this in the first place if storage is limited by 500Mb

[2020-03-04 19:12] fabiosantoscode commented on #136
Preview environments will require extra work there. Probably we'd need to create a new bucket for each PR manually and fill it up. Luckily there's a way to hook into a preview environment destruction in heroku, where we can collect garbage.

[2020-03-09 19:04] fabiosantoscode commented on #123
I'm closing this since we're using S3, where space is not much of a premium.

[2020-03-09 19:04] #123 closed

[2020-03-09 19:04] fabiosantoscode commented on #136
We no longer need to do this since all static files (includes images) are neatly stored in S3.

[2020-03-09 19:04] #136 closed

[2020-03-09 21:45] shcheklein commented on #109
@fabiosantoscode can we consider this one as done for now?

[2020-03-10 11:44] fabiosantoscode commented on #109
Yeah let's close this. I think we can implement further speedups with things like yarn 2 in the future, but now is probably not the time.

[2020-03-10 11:44] #109 closed

[2020-04-06 22:23] shcheklein commented on #27
Closing in favor of https://github.com/iterative/dvc.org/issues/1115 . I think we need to find a better way of handling this - do not store images at all.

[2020-04-06 22:23] #27 closed

[2020-04-07 00:10] andronovhopf opened #151 "yarn develop and localhost being odd"
I'm doing the usual workflow for making a new blog post- clone, branch, and making changes to the blog contents locally. As usual, I've run `yarn` and `yarn develop` to run a local development server. Whenever I visit `http://localhost:8000/` in my browser, I'm being automatically re-directed to our current blog.dvc.org page- no sign of any of my new edits, or of being in a development server.

It

[2020-04-07 00:19] shcheklein commented on #151
@andronovhopf we migrated to blog to iterative/dvc.org - please, try that repo. This one is not active anymore. There is info here https://github.com/iterative/dvc.org#writing-blog-posts how to create a blog post in that main repo.

[2020-04-07 00:19] #151 closed

[2020-04-11 01:45] frontexpert commented on #74
Hi, @shcheklein  How are you? I hope you are going well. btw, I just saw you post a new job - https://www.upwork.com/jobs/~01040ff058e8af8107

So is it impossible for me to work on the Github Issues again? I already sent my proposal for your new job. Especially, I applied a further lower rate of $33/hr than before for your long term relationship. I was working on the Gatsby project until now so my